@font-face {
    font-family: 'new_ciclesemi';
    src: url('fonts/New_Cicle_Semi-webfont.eot');
    src: url('fonts/New_Cicle_Semi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/New_Cicle_Semi-webfont.woff') format('woff'),
         url('fonts/New_Cicle_Semi-webfont.ttf') format('truetype'),
         url('fonts/New_Cicle_Semi-webfont.svg#new_ciclesemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'new_ciclesemi'; letter-spacing: 0.05em; font-size: 1.2em; background-color: #75bdff; overflow: hidden;}
.wrapper{width: 980px; margin: 0 auto;}

header{width: 96%; padding: 0 2%; background: transparent url("img/header.png") 0 0 no-repeat; min-height: 124px; position: relative;}
.nav{margin: 0; padding: 0; float: left; margin: 14px 0 0 0;}
.nav li{list-style: none; float: left;}
.nav li a{color: #fff; text-decoration: none; opacity: 1; transition: opacity .25s ease-in-out; -moz-transition: opacity .25s ease-in-out; -webkit-transition: opacity .25s ease-in-out; padding: 5px 16px;}
.nav li a:hover{opacity: 0.7;}

.logo{float: right; width: 80px; margin-top: 11px;}

.banner{min-height: 400px; margin-top: -124px;}

.clouds{width: 100%;}
.string{width: 3px; margin: 0 auto -8px auto; background: transparent url(../img/string.png) 0 0 repeat-y; position: relative; opacity: 0.6; background-size: 100%;}
.type-1 .string{left: 7px;}
.cloud{width: 15%; height: auto; position: absolute;}
.cloud img{z-index: -9; position: relative;}

.cloud.small{width: 8%; z-index: -9;}
.cloud.medium{width: 12%; z-index: -7;}
.cloud.large{width: 15%; z-index: -5;}

.cloud.small img{z-index: -9;}
.cloud.medium img{z-index: -7;}
.cloud.large img{z-index: -5;}

.small .string{z-index: -10; width: 1px;}
.medium .string{z-index: -8; width: 2px;}
.large .string{z-index: -6; width: 3px;}

.small, .small .string{filter: blur(4px); -webkit-filter: blur(4px);-moz-filter: blur(4px); -o-filter: blur(4px); -ms-filter: blur(4px);}
.medium, .medium .string{filter: blur(2px); -webkit-filter: blur(2px);-moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px);}
.large, .large .string{}

/* ============================ */
/* Layout for tablet */
/* ============================ */
@media handheld, only screen and (max-width: 979px) {
	.wrapper{width: 100%;}
	.logo{width: 9%;}
}

/* ============================ */
/* Layout for landscape mobile */
/* ============================ */
@media handheld, only screen and (max-width: 768px) {
	.logo{width: 10%;}
}

/* ============================ */
/* Layout for portrait mobile */
/* ============================ */
@media handheld, only screen and (max-width: 480px) {
	.logo{width: 13%; margin-top: 4px;}
}